* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.flex div {
  background-color: rgba(0, 0, 0, 0.335);
  border: rgba(0, 0, 0, 0.753);
  border-style: solid;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.246);
  padding: 10px;
  margin: 0 4px;
  text-align: center;
  width: 60px;
}

.flex div h1 {
  color: aliceblue;
}

.flex div p {
  color: rgb(209, 206, 27);

  font-size: small;
}

.flex .large {
  border-width: 4px;
  border-color: rgb(194, 191, 44);
  box-shadow: 0px 0px 4px 2px rgba(194, 191, 44, 0.534);
  transition: 0.5;
}
