body {
  background-color: rgb(59, 59, 189);
}

.face {
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 40rem;
  height: 40rem;
  border-color: rgb(182, 162, 74);
  border-style: ridge;
  border-width: 10px;
  border-radius: 100%;
  margin: auto;
}

.min,
.hour,
.sec {
  position: absolute;
  z-index: 1;
  border-style: solid;
  border-color: black;
  border-radius: 100%;
  transform-origin: 100%;
  width: 19.5rem;
}

.img {
  z-index: 0;
  width: 30rem;
  margin: auto;
}
