* {
  margin: 0;
  padding: 0;
}

:root {
  --base: #a4f14c;
  --blur: 0px;
  --spacing: 0%;
}

body {
  background-color: cadetblue;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

span {
  color: var(--base);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.flex label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  padding: 10px;
}

.slider {
  width: 100px;
  outline: none;
}

.backImg {
  background-color: var(--base);
  width: 900px;
  margin: auto;
}

img {
  display: block;
  width: 800px;
  margin: auto;
  padding: 20px;
  filter: blur(var(--blur));
  transform: translate(var(--spacing), var(--spacing));
}
